<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Home</title>
    <!-- include stylesheets, etc here -->
</head>
<body>
<header th:fragment="header">
    <!-- header goes here-->
    <h1>This the header</h1>
</header>

<nav th:fragment="navbar">
    <!-- navbar goes here -->
    <p>This the nav bar</p>
</nav>
<footer th:fragment="footer">
    <!-- footer goes here-->
    <p>this is the footer</p>
</footer>
</body>
</html>