<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials :: header"/>
<nav th:replace="partials :: navbar" />

<h3>Guess the dice throw: </h3>
<ul>
    <li><a href="/roll-dice/1">Choose 1</a></li>
    <li><a href="/roll-dice/2">Choose 2</a></li>
    <li><a href="/roll-dice/3">Choose 3</a></li>
    <li><a href="/roll-dice/4">Choose 4</a></li>
    <li><a href="/roll-dice/5">Choose 5</a></li>
    <li><a href="/roll-dice/6">Choose 6</a></li>
</ul>
<div class="alert alert-danger" th:if="${result}">
    <p>You WIN!</p>
    <p>You guessed <span th:text="${guess}"></span></p>
    <p>You rolled <span th:text="${roll}"></span></p>
</div>
<div class="alert alert-danger" th:if="${!result}">
    <p>You lose.</p>
    <p>You guessed <span th:text="${guess}"></span></p>
    <p>You rolled <span th:text="${roll}"></span></p>
</div>
<footer th:replace="partials :: footer"/>


</body>
</html>